<div class="container-fluid my-5">
  <footer class="text-center text-lg-start">
    <div class="container-fluid p-4 pb-0">
      <section>
        <div class="row">
          <!-- Coursera Section -->
          <div class="col-sm-6 col-md-3 mx-auto mt-3 FoterCoursera Coursera">
            <h3 class="text-uppercase mb-4">
              {{ 'Footer.courseeraSection.title' | translate }}
            </h3>
            <a routerLink="/about">{{ 'Footer.courseeraSection.about' | translate }}</a>
            <a routerLink="/HowDoesCouresraWorks">{{ 'Footer.courseeraSection.whatWeOffer' | translate }}</a>
            <a routerLink="/leaderShip">{{ 'Footer.courseeraSection.leadership' | translate }}</a>
            <a routerLink="/careercourses">{{ 'Footer.courseeraSection.careers' | translate }}</a>
            <a href="">{{ 'Footer.courseeraSection.catalog' | translate }}</a>
            <a href="">{{ 'Footer.courseeraSection.courseraPlus' | translate }}</a>
            <a href="">{{ 'Footer.courseeraSection.professionalCertificates' | translate }}</a>
            <a href="">{{ 'Footer.courseeraSection.masterTrackCertificates' | translate }}</a>
            <a routerLink="/onlinedegree">{{ 'Footer.courseeraSection.degrees' | translate }}</a>
            <a href="">{{ 'Footer.courseeraSection.forEnterprise' | translate }}</a>
            <a href="">{{ 'Footer.courseeraSection.forGovernment' | translate }}</a>
            <a href="">{{ 'Footer.courseeraSection.forCampus' | translate }}</a>
            <a href="">{{ 'Footer.courseeraSection.becomeAPartner' | translate }}</a>
            <a href="">{{ 'Footer.courseeraSection.socialImpact' | translate }}</a>
          </div>

          <hr class="w-100 d-md-none" />

          <!-- Community Section -->
          <div class="col-sm-6 col-md-2 mx-auto mt-3 FoterCoursera">
            <h3 class="text-uppercase mb-4 font-weight-bold">
              {{ 'Footer.communitySection.title' | translate }}
            </h3>
            <a href="">{{ 'Footer.communitySection.learners' | translate }}</a>
            <a href="">{{ 'Footer.communitySection.partners' | translate }}</a>
            <a href="">{{ 'Footer.communitySection.betaTesters' | translate }}</a>
            <a href="">{{ 'Footer.communitySection.blog' | translate }}</a>
            <a href="">{{ 'Footer.communitySection.theCourseraPodcast' | translate }}</a>
            <a href="">{{ 'Footer.communitySection.techBlog' | translate }}</a>
            <a href="">{{ 'Footer.communitySection.teachingCenter' | translate }}</a>
          </div>

          <hr class="w-100 d-md-none" />

          <!-- More Section in the footer-->
          <div class="col-12 col-md-3 mx-auto mt-3 FoterCoursera">
            <h3 class="text-uppercase mb-4 font-weight-bold">
              {{ 'Footer.moreSection.title' | translate }}
            </h3>
            <a href="">{{ 'Footer.moreSection.press' | translate }}</a>
            <a href="">{{ 'Footer.moreSection.investors' | translate }}</a>
            <a href="">{{ 'Footer.moreSection.terms' | translate }}</a>
            <a href="">{{ 'Footer.moreSection.privacy' | translate }}</a>
            <a href="">{{ 'Footer.moreSection.help' | translate }}</a>
            <a href="">{{ 'Footer.moreSection.accessibility' | translate }}</a>
            <a href="">{{ 'Footer.moreSection.contact' | translate }}</a>
            <a href="">{{ 'Footer.moreSection.articles' | translate }}</a>
            <a href="">{{ 'Footer.moreSection.directory' | translate }}</a>
            <a href="">{{ 'Footer.moreSection.affiliates' | translate }}</a>
            <a href="">{{ 'Footer.moreSection.modernSlaveryStatement' | translate }}</a>
            <a href="">{{ 'Footer.moreSection.manageCookiePreferences' | translate }}</a>
          </div>

          <hr class="w-100 d-md-none" />

          <!-- Mobile App Section -->
          <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 FoterCoursera">
            <h3 class="text-uppercase mb-4 font-weight-bold">
              {{ 'Footer.mobileAppSection.title' | translate }}
            </h3>
            <img class="mb-4" width="152" height="45"
              [src]="'Footer.mobileAppSection.appStoreButton' | translate" alt="">
            <img class="mb-4" width="152" height="45"
              [src]="'Footer.mobileAppSection.googlePlayButton' | translate" alt="">
            <img width="152" height="150"
              [src]="'Footer.mobileAppSection.certifiedBadge' | translate" alt="">
          </div>
        </div>
      </section>

      <!-- Copyright -->
      <hr class="my-3">
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <div class="p-3">
              {{ 'Footer.copyright' | translate }}
            </div>
          </div>

          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <a class="btn btn-outline-dark btn-floating m-1 rounded-circle" role="button">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-outline-dark btn-floating m-1 rounded-circle" role="button">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="btn btn-outline-dark btn-floating m-1 rounded-circle" role="button">
              <i class="fab fa-google"></i>
            </a>
            <a class="btn btn-outline-dark btn-floating m-1 rounded-circle" role="button">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </section>
    </div>
  </footer>
</div>