* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .layout-container {
    display: flex;
    height: 100vh;
  }
  

  .left-sidebar {
    position: sticky;
    top: 0;
    height: 100vh;

    padding: 20px;
    overflow-y: auto;
    
  }
  
  /* Make scroll work only when hovering */
  .left-sidebar {
    overflow-y: hidden;
  }
  
  .left-sidebar:hover {
    overflow-y: auto;
  }
  
  /* Main + Right Wrapper */
  .right-main-wrapper {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .main-right-scroll {
    display: flex;
    flex: 1;
    overflow-y: auto;
  }
  
  /* Main Content */
  .main-content {
    flex: 2;
    padding: 20px;
  }
  
  /* Right Sidebar */
  .right-sidebar {
    flex: 1;
    padding: 20px;
 
  }
  