<app-navbar></app-navbar>

<div class="container-fluid mt-4 video-container">
  <div class="row">

    <!-- Sidebar -->
    <div class="col-12 col-md-3 sidebar">
      <h5>Module Title</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Video 1 - Introduction</li>
        <li class="list-group-item">Video 2 - Getting Started</li>
        <li class="list-group-item">Video 3 - Building your first app</li>
        <li class="list-group-item">Video 4 - Advanced Concepts</li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="col-12 col-md-9 main-content">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Video Title</h3>
        <div>
          <button class="btn btn-outline-primary me-2" disabled>Previous</button>
          <button class="btn btn-outline-primary" disabled>Next</button>
        </div>
      </div>

      <!-- Video Player Placeholder -->
      <div class="video-player">
        <div class="video-wrapper">
          <!-- يمكنك استبدال الـ div بـ iframe لاحقًا -->
          <div class="placeholder-video">
            Video Player Here
          </div>
        </div>
      </div>
    </div>

  </div>
</div>