<dialog id="EnrollDialog">
   

        <div class="closeDialog d-flex justify-content-end pe-3 mt-4" >
            
            <button onclick="document.getElementById('EnrollDialog')?.close()" class="border-0 bg-light">
                <i class="fa-solid fa-x"></i>
              </button>
        </div>
<div class="EnrollDialogContainer  mx-auto " style="width: 80%;" >
<span class="mb-5 fs-2  " style="color: #363b42;">7-day Free Trial</span>

    <div class="container-fluid ">
        <div class="row ">
         
            <div class="col-1 my-2"><i class="fa-solid fa-check text-primary fs-4"></i></div>
            <div class="col-11 my-2 lh-lg">

                <h5>
                    Unlimited access to all courses in the Certificate</h5>
                    <p>Watch lectures, try assignments, participate in discussion forums, and more.</p>
            </div>
            <div class="col-1 my-2"><i class="fa-solid fa-check text-primary fs-4"></i></div>
            <div class="col-11 my-2 lh-lg">

                <h5>
                    Unlimited access to all courses in the Certificate</h5>
                    <p>Watch lectures, try assignments, participate in discussion forums, and more.</p>
            </div>
            <div class="col-1 my-2"><i class="fa-solid fa-check text-primary fs-4"></i></div>
            <div class="col-11 my-2 lh-lg">

                <h5>
                    Unlimited access to all courses in the Certificate</h5>
                    <p>Watch lectures, try assignments, participate in discussion forums, and more.</p>
            </div>
            <div class="col-1 my-2"><i class="fa-solid fa-check text-primary fs-4"></i></div>
            <div class="col-11 my-2 lh-lg">

                <h5>
                    Unlimited access to all courses in the Certificate</h5>
                    <p>Watch lectures, try assignments, participate in discussion forums, and more.</p>
            </div>
        </div>
    </div>




    <!--  -->

    <div>
        <button class="btn btn-primary px-3 py-3 mt-3 fs-5 fw-semibold"> Get Free Trial</button>
    </div>
</div>
    

</dialog>