<!-- Dialogs -->
<!-- <div class="auth-forms container py-5 " *ngIf="!authService.getToken()">
  <div class="row">
  
    <dialog class="col-md-6 ">
    <div class="dialog-content">
      <div  class="d-flex justify-content-end">
      <button onclick="document.querySelector('dialog:nth-of-type(1)').close()" class="border-0 bg-light"><i class="fa-solid fa-x"></i></button>
      </div>
      <div class="dialog-header text-center mb-4 w-75 mx-auto"><h3 >Login</h3></div>

  <form (ngSubmit)="login()" #loginForm="ngForm">
        <label for="loginEmail">Email  <span class="text-danger">*</span></label>
        <input
          id="loginEmail"
          type="email"
          [(ngModel)]="loginEmail"
          name="loginEmail"
          placeholder="Enter your Email"
          class="form-control my-2"
          required
          email
          #LoginEmail="ngModel"
          [ngClass]="{'is-invalid':(LoginEmail.touched||LoginEmail.dirty)&& LoginEmail.invalid}"

        />
        <label for="loginPassword">Password  <span class="text-danger">*</span></label>
        <input
          id="loginPassword"
          type="password"
          [(ngModel)]="loginPassword"
          name="loginPassword"
          placeholder="Enter your Password"
          class="form-control my-2"
          required
          minlength="8"
          maxlength="72"
          #LoginPassword="ngModel"
          [ngClass]="{'is-invalid':(LoginPassword.touched||LoginPassword.dirty)&& LoginPassword.invalid}"

        />

      <button class="btn btn-primary w-100 mt-3 fw-bold" [disabled]="!loginForm.valid">Login</button>
      </form>
    </div>
    </dialog>

   
    <dialog id="registerDialog" class="col-md-6">
    <div class="dialog-content">
      <div  class="d-flex justify-content-end">
        <button onclick="registerDialog.close()" class="border-0 bg-light"><i class="fa-solid fa-x"></i></button>
      </div>
      <div class="dialog-header text-center mb-4 w-75 mx-auto">
      <h3>Sign Up</h3>
      <p>Learn on your own time from top universities and businesses.</p>
      </div>
      <form (ngSubmit)="register()" #registerForm="ngForm">
        <label for="FullName">Full Name  <span class="text-danger">*</span></label>
        <input
          id="FullName"
          type="text"
          [(ngModel)]="registerUser.name"
          name="name"
          placeholder="Enter Your Full Name"
          class="form-control my-2"
          required
          #FullName="ngModel"
          [ngClass]="{'is-invalid':(FullName.touched||FullName.dirty)&&FullName.invalid}"
        />

        <label for="Email">Email  <span class="text-danger">*</span></label>
        <input
          id="Email"
          type="email"
          [(ngModel)]="registerUser.email"
          name="email"
          placeholder="name@email.com"
          class="form-control my-2"
          required
          email
          #Email="ngModel"
          [ngClass]="{'is-invalid':(Email.touched||Email.dirty)&& Email.invalid}"
        />

        <label for="Password">Password  <span class="text-danger">*</span></label>
        <p style="text-align: start;">Between 8 and 72 characters</p>
        <input
          id="Password"
          type="password"
          [(ngModel)]="registerUser.password"
          name="password"
          placeholder="Create a password"
          class="form-control my-2"
          required
          minlength="8"
          maxlength="72"
          #Password="ngModel"
          [ngClass]="{'is-invalid':(Password.touched||Password.dirty)&& Password.invalid}"
        />

        <label for="Address">Enter You Address  <span class="text-danger">*</span></label>
        <input
          id="Address"
          type="text"
          [(ngModel)]="registerUser.address"
          name="address"
          placeholder="Address"
          class="form-control my-2"
          required
          #Address="ngModel"
          [ngClass]="{'is-invalid':(Address.touched||Address.dirty)&& Address.invalid}"
        />

        <button class="btn btn-primary w-100 py-3 mt-4 fw-bold" [disabled]="!registerForm.valid">Join for free</button>
      </form>

      <p class="mt-3">
        Already have an account?
        <a href="#" onclick="registerDialog.close(); document.querySelector('dialog:nth-of-type(1)').showModal(); return false;" class="fw-semibold text-primary">
          Login here
        </a>
      </p>
    </div>
    </dialog>
  </div>
</div>


<dialog id="loginDialog">
  <div class="dialog-content p-4">
    <div class="d-flex justify-content-end">
      <button onclick="document.getElementById('loginDialog')?.close()" class="border-0 bg-light">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>
    <h3>Login</h3>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <input class="form-control my-2" type="email" name="loginEmail" placeholder="Email" required [(ngModel)]="loginEmail">
      <input class="form-control my-2" type="password" name="loginPassword" placeholder="Password" required [(ngModel)]="loginPassword">
      <button class="btn btn-primary w-100 mt-3" type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</dialog> -->


<!-- learn -->
<div class="container-fluid">
  <div class="row marginLearn">
    <div class="col-12 col-md-7 ">
      <h1 class="learn">{{ ArrayData[0]?.title }}</h1>
      <p class="magrinDescription">{{ArrayData[0]?.description}}</p>
    </div>
    <div class="col-md-5 learnImage">
      <img src="{{ArrayData[0].image}}" alt="">
    </div>
    <div class="buttonGroup">
      <button type="button" class="btn btn-primary buttonFree" onclick="document.getElementById('registerDialog')?.showModal()">Join For Free</button>
      <button type="button" class="btn btn-primary buttonFree" onclick="document.getElementById('confirmEmail')?.showModal()">confirm email</button>

      <button type="button" class="btn btn-primary buttonFree" (click)="gotohome()">home </button>

      <button type="button" class="btn btn-outline-primary buttonTry">Try Coursera for Business </button>
    </div>
  </div>
</div>

<!-- logo -->

<div class="container-fluid logo">
  <div class="row paddingTop">
    <div class="center">
      <h2>
        <a class="universities">We collaborate with
          <span class="leading">350+ leading universities and companies</span>
        </a>
      </h2>
    </div>
    <div class="marginLogo">
      @for(logo of ArrayData[0]?.logoImage; track ArrayData[0].id){
        <a href="">
          <img src="{{logo}}" alt="" class="logoImage" >
        </a>
      }
    </div>

  </div>
</div>


<!-- Most Popular Certificates -->
<div class="container-fluid">
  <div class="row paddingMost">
    <div class="Specializations">Specializations and Professional Certificates</div>
    <h2 class="mostPopular">Most Popular Certificates</h2>
    <p class="Specializations">Explore our most popular programs, get job-ready for an in-demand career.</p>

    @for(prod of filterArray.slice(0, visibleCount2) ; track prod.id){
      <div class="col-12 col-sm-6 col-lg-3  mt-5">
        <div class="custom-card">
          <img class="card-image" [src]="prod.imgUrl" alt="Course Image" (click)="goToDetails(prod.id)">
          <div class="CardBody">
            <div class="card-header">
              <img class="logo-card" [src]="prod.logoImage" alt="">
              <a class="card-link" href="#">{{prod.organization}}</a>
            </div>
            <h6 class="card-text">{{prod.name}}</h6>
            <p class="last-section">Course</p>
          </div>
        </div>
      </div>
      }

    </div>
    @if(visibleCount2 < filterArray.length){ <button class="showBtn" (click)="showMoreCard2()">Show 8 more</button>
      } @else {
      <button class="showBtn" (click)="showfewerCard2()">Show fewer</button>
      }

</div>

<!-- New on Coursera -->
<div class="container-fluid">
  <div class="row paddingMost">
    <div class="Specializations">Courses and Professional Certificates</div>
    <h2 class="mostPopular">New on Coursera</h2>
    <p class="Specializations">Explore our newest programs, focused on delivering in-demand skills.</p>

    @for(prod of filterArray.slice(0, visibleCount) ; track prod.id){
      <div class="col-12 col-sm-6 col-lg-3  mt-5">
        <div class="custom-card">
          <img class="card-image" [src]="prod.imgUrl" alt="Course Image" (click)="goToDetails(prod.id)">
          <div class="CardBody">
            <div class="card-header">
              <img class="logo-card" [src]="prod.logoImage" alt="">
              <a class="card-link" href="#">{{prod.organization}}</a>
            </div>
            <h6 class="card-text">{{prod.name}}</h6>
            <p class="last-section">Course</p>
          </div>
        </div>
      </div>
      }

    </div>
    @if(visibleCount2 < filterArray.length){ <button class="showBtn" (click)="showMoreCard()">Show 8 more</button>
      } @else {
      <button class="showBtn" (click)="showfewerCard()">Show fewer</button>
      }

</div>

<!-- Get a head start on a degree today -->
<div class="container-fluid">
  <div class="row paddingMost">
    <div class="Specializations">Degree Programs</div>
    <h2 class="mostPopular">Get a head start on a degree today</h2>
    <p class="Specializations">With these programs, you can build valuable skills, earn career credentials, and make progress
       toward a degree before you even enroll.</p>

    @for(prod of filterArray.slice(0, visibleCount3) ; track prod.id){
      <div class="col-12 col-sm-6 col-lg-3  mt-5">
        <div class="custom-card">
          <img class="card-image" [src]="prod.imgUrl" alt="Course Image" (click)="goToDetails(prod.id)">
          <div class="CardBody">
            <div class="card-header">
              <img class="logo-card" [src]="prod.logoImage" alt="">
              <a class="card-link" href="#">{{prod.organization}}</a>
            </div>
            <h6 class="card-text">{{prod.name}}</h6>
            <p class="last-section">Course</p>
          </div>
        </div>
      </div>
      }

    </div>
    @if(visibleCount2 < filterArray.length){ <button class="showBtn" (click)="showMoreCard3()">Show 8 more</button>
      } @else {
      <button class="showBtn" (click)="showfewerCard3()">Show fewer</button>
      }

</div>

<!-- Explore Coursera -->
<div class="container-fluid">

  <div class="row paddingMost">

    <h2 class="mostPopular exploreText">Explore Coursera</h2>

    @for(explore of ArrayData[0].ExploreCoursera; track ArrayData[0].id){
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="d-flex align-items-center exploreCard border rounded shadow-sm overflow-hidden">
          <img class="exploreImage no-left-radius" src="{{explore.image}}" alt="Data Science">

          <div class="p-3">
            <div class="fw-bold">{{explore.description}}</div>
            <span class="text-muted">{{explore.number}} courses</span>
          </div>
        </div>
      </div>
    }

  </div>
</div>


<div class="container-fluid">
  <div class="row marginCommunity">

    <div class="center">
      <h2 class="communityFrom"> From the Coursera community</h2>
    <p class="communityText">168+ million people have already joined Coursera</p>
    </div>


      @for(community of ArrayData[0].CourseraCommunity; track ArrayData[0].id){
        <div class="col-md-4 communityCard">
          <img src="{{community.image}}" alt="">
          <h3 class="communityName communityPadding">{{community.name}}</h3>
          <div class="communityPadding">{{community.community}}</div>
          <div class="line"></div>
          <div class="communityDescription">{{community.description}}</div>
        </div>
      }
  </div>

</div>

<app-login-register-form-dialog *ngIf="!authService.getToken()"></app-login-register-form-dialog>


<app-confirm-email *ngIf="!authService.getToken()"></app-confirm-email>


