<!-- Login/Register Dialog Component -->

<!-- Login Dialog -->
<dialog id="loginDialog" class="col-md-6">
  <div class="dialog-content p-4">
    <div class="d-flex justify-content-end">
      <button onclick="document.getElementById('loginDialog')?.close()" class="border-0 bg-light">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>
    <h3 class="text-center mb-3">Login</h3>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <label for="loginEmail">Email <span class="text-danger">*</span></label>
      <input class="form-control my-2 py-2" type="email" name="loginEmail" placeholder="Email" required [(ngModel)]="loginEmail" #LoginEmail="ngModel"
        placeholder="Enter your Email"
        [ngClass]="{'is-invalid':(LoginEmail.touched||LoginEmail.dirty)&& LoginEmail.invalid}" />

      <label for="loginPassword">Password <span class="text-danger">*</span></label>
      <input class="form-control my-2 py-2" type="password" name="loginPassword" placeholder="Password" required [(ngModel)]="loginPassword" #LoginPassword="ngModel"
        placeholder="Enter your Password"
        [ngClass]="{'is-invalid':(LoginPassword.touched||LoginPassword.dirty)&& LoginPassword.invalid}" />

      <button class="btn btn-primary w-100 mt-3 py-3 fw-semibold fs-5" type="submit" >Login</button>
    </form>
  </div>
</dialog>

<!-- Register Dialog -->
<dialog id="registerDialog" class="col-md-6">
  <div class="dialog-content p-4">
    <div class="d-flex justify-content-end">
      <button onclick="document.getElementById('registerDialog')?.close()" class="border-0 bg-light">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>
    <div class="dialog-header text-center mb-4 w-75 mx-auto">
      <h3>Sign Up</h3>
      <p style="font-size: 1.54 rem; font-weight: 400;">Learn on your own time from top universities and businesses.</p>
    </div>
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <label for="FullName">Full Name <span class="text-danger">*</span></label>
      <input id="FullName" class="form-control my-2 py-2" name="name" [(ngModel)]="registerUser.username" required
        placeholder="Enter your full name" #FullName="ngModel"
        [ngClass]="{'is-invalid':(FullName.touched||FullName.dirty)&&FullName.invalid}" />

      <label for="Email">Email <span class="text-danger">*</span></label>
      <input id="Email" class="form-control my-2 py-2" name="email" type="email" [(ngModel)]="registerUser.email" required
        placeholder="name@gmail.com" #Email="ngModel"
        [ngClass]="{'is-invalid':(Email.touched||Email.dirty)&& Email.invalid}" />

      <label for="Password">Password <span class="text-danger">*</span></label>
      <p style="text-align: start;">Between 8 and 72 characters</p>
      <input id="Password" class="form-control my-2 py-2" placeholder="Create a password" name="password" type="password"
        [(ngModel)]="registerUser.password" required minlength="8" maxlength="72" #Password="ngModel"
        [ngClass]="{'is-invalid':(Password.touched||Password.dirty)&& Password.invalid}" />

      <button class="btn btn-primary w-100 py-3 mt-3 fw-bold" type="submit" [disabled]="!registerForm.valid">Join for free</button>
    </form>

    <p class="mt-3 text-center">
      Already have an account?
      <a href="#" onclick="document.getElementById('registerDialog')?.close(); document.getElementById('loginDialog')?.showModal(); return false;">Login here</a>
    </p>

  </div>
</dialog>

<!-- confirm email -->
<app-confirm-email *ngIf="!authService.getToken()"></app-confirm-email>
