<div class="sidebar-content">
    <img src="./Coursera_UMDInformal_360x360.png" alt="course_logo" class="img-fluid w-25 mb-2" />
    <h5 class="mb-1 fs-5 fw-bold">Cybersecurity for Everyone</h5>
    <p class="mb-3 gray-text">organiation</p>
    
    <ul>
      <li>
        
        <div class="card-body Course-Material-card">
            <p class="fw-semibold">
            <button onclick="document.getElementById('arrow').classList.toggle('active-arrow')" class="Course-Material border-0 bg-transparent d-flex align-items-center"
              data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              <i id="arrow" class="fa-solid fa-chevron-right me-3 fw-bold"></i>
                 Course
                Material
            </button>
        </p>
            <div class="collapse modules" id="collapseExample">
              <div class="card-body">
                <ul class="gap-1 d-flex flex-column Course-Material-list">
                  
                  <li class="list-group-item border-0">
                    <i class="fa-solid fa-circle " ></i>Module 1
                  </li>
                
                  <li class="list-group-item">
                    <i class="fa-solid fa-circle"></i> Module 2
                  </li>
                  <li class="list-group-item">
                    <i class="fa-solid fa-circle"></i> Module 3
                  </li>
     
                </ul>
              </div>
            </div>
          </div>
     </li>
     
        <li><p class="fw-bold">gardes</p></li>
        <li><p class="fw-bold">notes</p></li>
        <li><p class="fw-bold">discussion forms</p></li>
        <li><p class="fw-bold">messages</p></li>
        <li><p class="fw-bold">course info</p></li>
    
   
    </ul>
  </div>
  