.sidebar-content {
   width: 85%;
   margin: auto;
   ul{
    list-style: none;
    padding: 0;

    li:nth-child(1) {
        padding: 3%;
        &:hover{
          border: 1px solid #0056d2;
      
      
        }
        .Course-Material-card{
         
             .modules{
                 margin-left: 20px;
                 margin-bottom: 10px;
                 padding-left: 50px;
                 ul{
                     margin-top: 3%;
                     li{
                         padding: 0;
                         i{
                             color: gray;
                         }
                     }
     
                 }
             }
         }
      }

         
      li {
        margin-bottom: 15px;
        padding: 3% 3% 3% 20%;
   &:hover {
    background-color: #eef4fb;
          cursor: pointer;
        }
      }
    }
   }
 
  
  
  