*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

dialog{
    height: 70vh;
    margin-top: 1%;
    border-radius: 10px;
      border: none;
    
      width: 600px;
        margin: auto;
}