<dialog id="CredentialsDialog">

    <div class="ProjectDialogContainer  " style="width: 80% ;margin: auto;">
        <div class="d-flex justify-content-end mt-4">
            <button onclick="document.getElementById('CredentialsDialog')?.close()" class="border-0 bg-light">
              <i class="fa-solid fa-x"></i>
            </button>
          </div>
        <h2 style="font-size: 1.875rem;" class="my-4">Credentials</h2>
          <div class="mb-4">
            <h6 style="font-weight: 600;font-size: 1.25rem;">Professional Certificates</h6>
            <p style="font-size: 1 rem; font-weight: 400;" >Career-focused credentials from industry leaders that demonstrate candidates’ expertise and job readiness.</p>
        
          </div>
          <div  class="mb-4">
            <h6>Specializations</h6>
            <p style="font-size: 1 rem; font-weight: 400;" >A series of courses and projects that provides candidates with in-depth knowledge of a subject.</p>
        
          </div>
        <div class="py-3 pe-4">
            <button class="btn btn-primary px-4 py-2 fw-semibold fs-6" onclick="document.getElementById('CredentialsDialog')?.close()" >
             Got It
            </button>
          </div>
    </div>
    </dialog>