<div class="container">
    <div class="row marginTop">
      <div class="col-2">
        <img class="imageInstructor" src="{{getInstructorID?.Image}}" alt="">
      </div>
      <div class="col-7 titleOFinstructor">
        <h2 class="instructorName">{{getInstructorID?.Name}}</h2>
        <p class="instructorJob">{{getInstructorID?.job}}</p>
        @for(title of getInstructorID?.coursesTitle; track getInstructorID?.id){
          <ul class="listStyle">
            <li>
              <a class="instructorCourses">{{title}}</a>
            </li>
          </ul>
        }
      </div>
      <div class="col-3"></div>
    </div>
    <hr style="height: 1px; background-color: #8c8e91; border: none; width: 80%;margin-left: 30px;">
  </div>
  
  <div class="container">
    <div class="row marginTop">
      <h3 class="courses">Courses - English</h3>
      @for(course of getInstructorID?.CoursesEnglish; track getInstructorID?.id){
        <div class="col-12 col-md-6 col-lg-4 card">
          <img class="imageCourse" src="{{course.image}}" alt="">
          <h4>
            <div class="titleCourse" style="color:#1F1F1F;margin-bottom:6px">{{course.title}}</div>
          </h4>
        </div>
      }
    </div>
  </div>
  
  <div class="container Explore">
  
    <div class="row paddingMost">
  
      <h2 class="mostPopular exploreText">Explore Coursera</h2>
  
      @for(explore of ArrayData[0].ExploreCoursera; track ArrayData[0].id){
        <div class="col-sm-12 col-md-6 col-lg-3 mb-3 explorePartTwo">
          <div class="d-flex align-items-center exploreCard border rounded shadow-sm overflow-hidden cardExplore">
            <img class="exploreImage no-left-radius" src="{{explore.image}}" alt="Data Science">
  
            <div class="p-3 testExplore">
              <div class="fw-bold desExplore">{{explore.description}}</div>
              <span class="text-muted">{{explore.number}} courses</span>
            </div>
          </div>
        </div>
      }
  
    </div>
  </div>
  <hr style="height: 1px; background-color: #8c8e91; border: none; width: 95%;margin-left: 30px;">
  
  
  
  
  