$lightGray: #8495b0;
$baseGray:#5b6780;
$primaryColor:#0d6efd;
$whiteColor:white;
.RolesParent {
  margin-top: 5%;
  .roles {
    font-size: 4vw; // Responsive font size for different screen sizes
    font-weight: 600;
  }
  p {
    padding-top: 1%;
    font-size: 18px;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;//to make spaces between buttons

  }
  .buttons-container {
    display: flex;
    width: 80%;
    button {
      flex: 1 1 auto;
      white-space: nowrap;
      font-size: .87rem; 
      @media (max-width: 768px) {
        font-size: 0.7rem;
      }
      @media (max-width: 576px) {
        font-size: 0.6rem;
      }
    }
  }
  button {
    border: 1px solid $lightGray;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: rgb(226, 226, 252) !important;
      color: $primaryColor;
      border: 1px solid $primaryColor;
    }
    &.active {
      background-color: $lightGray !important;
      color: $whiteColor !important;
      border: 1px solid darken($lightGray, 10%);
    }
  }
  @media (max-width: 768px) {
    .dropdown {
      width: 100%;
    }
    .buttons-container {
      flex-wrap: wrap;
    }
  }
}
.CareerResourse{
  .CareerResouresHeader{
    font-weight: 600 !important;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
  }
  .buttons-container {
    display: flex;
    flex-wrap: nowrap;
    width:40%;
    margin-bottom: 3%;
    button {
      flex: 1 1 auto;
      white-space: nowrap;
      font-size: .91rem; 
      padding: 0 ;
      @media (max-width: 768px) {
        font-size: 0.7rem;
      }
      @media (max-width: 576px) {
        font-size: 0.6rem;
      }
    }
  }
  button {
    border: 1px solid $lightGray;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: rgb(226, 226, 252) !important;
      color: $primaryColor;
      border: 1px solid $primaryColor;
    }
    &.active {
      background-color: $lightGray !important;
      color: $whiteColor !important;
      border: 1px solid darken($lightGray, 10%);
    }
  }
  @media (max-width: 768px) {
    .dropdown {
      width: 100%;
    }
    .buttons-container {
      flex-wrap: wrap;
    }
  }
  .CareerResoursesCard {
    border: 1px solid $lightGray !important;
    padding: 2% 1% 0 2%;
    width: 24% !important;
    p {
      font-size: 1vw;
      color: $baseGray;
    }
    @media (max-width:1289px) {
      width: 48% !important;
    }
    @media (max-width:594px) {
      width: 96% !important;
    }
    &:hover {
      transition: transform 0.5s ease-in-out;
      transform: scale(1.04);
      box-shadow: 0 0 12px $lightGray;
      cursor: pointer;
    }

  }
  
.toggleShowMore {
  button {
    font-weight: 500;
    padding:.6% 1.6% .6% 1.6%;
    font-size: 1.08vw;
    background-color: $whiteColor !important;
    &:hover {
      background-color: $whiteColor !important;
    }
  }
}
}

.SuccessStories{
  .Story{
    border: 1px solid $lightGray !important;
    padding: 2% .8% 0% .8%;
    width: 23% !important;
    .upperPart{


      p{
        font-size: 1.01vw;
    color: $baseGray;
      }
    }
    .lowerPart{
      p{
        color: $baseGray;
      }
    }

    @media (max-width:1290px) {
      width: 47% !important;
      h6,p{
        margin-left: 5%;
        }
    
    }
  
    @media (max-width:589px) {
      width: 96% !important;
      h6,p{
      margin-left: 5%;
      }
   
    }

    
  }
}
.lastPartContainer{
   margin-top: 6%;
  .lastPart{
    color: $baseGray;
    
    width: 50%;
    font-size:  0.875rem;
    font-weight: 400;
    padding: 0 1% 0 1%;
    
    }
}
