<dialog id="ProjectDialog">

<div class="ProjectDialogContainer w-75 mx-auto py-4" >
    <div class="d-flex justify-content-end">
        <button onclick="document.getElementById('ProjectDialog')?.close()" class="border-0 bg-light">
          <i class="fa-solid fa-x"></i>
        </button>
      </div>
    <h2 style="font-size: 1.875rem;" class="my-3">Projects</h2>

    <p style="font-size: 1 rem; font-weight: 400;" class="my-3">These are used to demonstrate skills by working autonomously through realistic, job-related challenges and leveraging industry tools to create a unique solution. They’re a strong indicator of technical expertise, independent problem-solving, critical thinking, and communication skills.</p>

    <div class="py-3 pe-4">
        <button class="btn btn-primary px-4 py-2 fw-semibold fs-5" onclick="document.getElementById('ProjectDialog')?.close()" >
         Got It
        </button>
      </div>
</div>
</dialog>