<div class="navSection">
  <div class="mb-3">
    <div class="row g-0">

      <div class="col-12 col-lg-7 ">

        <div class="card-body">

          <img class="mb-3 mt-5"
            [src]="getID?.logoImage"
            alt="">

          <h1 class="card-title mb-3">{{getID?.name}}</h1>
          <p class="card-text mb-3">
            Unlock and leverage the potential of generative AI. Learn how you can use the capabilities
            of generative AI to enhance your work and daily life.
          </p>


          <div class="row">
            <div class="col-12 col-lg-4">
              <button class="btn btn-primary NavButton">Enroll for Free <p class="textBTN">Starts Mar 2</p></button>
            </div>
            <div class="col-12 col-lg-8 mb-3">
              <p>Try for Free: Enroll to start your 7-day full access free trial</p>
              <a href="" class="link">Financial aid available</a>
            </div>


          </div>

          <div class="pt-3  ">
            <span class="salary">29,499 </span>already enrolled
          </div>
          <div class="pt-3 mb-5">
            Included with
            <img
              src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/coursera_plus/landing_page/coursera-plus-blue.png?auto=format%2Ccompress&dpr=1&h=10"
              alt="">
            <a href="" class="link">
              Learn more</a>
          </div>
        </div>
      </div>



      <div class="col-lg-5 NavImage">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/images/69d8d47404e3da1d706b895876d3b49e.png?auto=format%2Ccompress&dpr=1&q=80"
          class="img-fluid " alt="...">
      </div>
    </div>
  </div>

</div>


<div class="row ps-5 mx-auto">

  <div class="col-4 py-1">
    <div class="row">
      <div class="col-1">
        <i class="fa-solid fa-check"></i>
      </div>
      <div class="col-11">
        <span class="">Explain the fundamental concepts, capabilities, models, tools, applications, and platforms of
          generative AI foundation models.</span>
      </div>

    </div>
  </div>

  <div class="col-4 py-1">
    <div class="row">
      <div class="col-1">
        <i class="fa-solid fa-check"></i>
      </div>
      <div class="col-11">
        <span class="">Apply powerful prompt engineering techniques to write effective prompts and generate desired
          outcomes from AI models.

        </span>
      </div>

    </div>
  </div>

  <div class="col-4"></div>



  <div class="col-4 py-4">
    <div class="row">
      <div class="col-1">
        <i class="fa-solid fa-check"></i>
      </div>
      <div class="col-11">
        <span class="">Discuss the limitations of generative AI and explain the ethical concerns and considerations for
          the responsible use of generative AI.</span>
      </div>

    </div>
  </div>

  <div class="col-4 py-4">
    <div class="row">
      <div class="col-1">
        <i class="fa-solid fa-check"></i>
      </div>
      <div class="col-11">
        <span class="">Recognize the ability of generative AI to enhance your career and help implement improvements at
          your workplace.

        </span>
      </div>

    </div>
  </div>

  <div class="col-4"></div>

</div>

<!-- skill -->
<div class="ms-4">
  <h2 class="mb-3">
    Skills you'll gain
  </h2>
  <div class="row">
    <div class="col-8">
      <ul class="allSkils">
        <li class="skillsLI">Artificial Intelligence (AI)</li>
        <li class="skillsLI">Prompt Engineering</li>
        <li class="skillsLI">ChatGPT</li>
        <li class="skillsLI">hugging face</li>
        <li class="skillsLI">Generative AI Careers</li>
        <li class="skillsLI">Generative AI</li>
        <li class="skillsLI">Stable Diffusion</li>
        <li class="skillsLI">Hugging Face</li>
        <li class="skillsLI">Foundation Models</li>
        <li class="skillsLI">Responsible Generative AI</li>
      </ul>

    </div>
  </div>
</div>


<div class="row ms-4">
  <h3 class="mb-4">Details to know</h3>

  <div class="col-3">
    <img class="mb-1"
      src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/images/31ebcba3851b87d1d8609abf15d0ff7e.png?auto=format%2Ccompress&dpr=1&w=24&h=24"
      alt="">
    <div>Shareable certificate</div>
    <p class="linkedIn">Add to your LinkedIn profile</p>
  </div>

  <div class="col-3">
    <i class="fa-solid fa-language"></i>
    <div>Taught in English</div>
    <a class="languagesLink">24 languages availa</a>
  </div>
</div>

<!-- employees -->
<div class="employees mb-5">
  <div class="mb-3">
    <div class="row g-0">

      <div class="col-12 col-lg-8">

        <div class="card-body ms-5 mt-3">
          <h1>See how employees at top companies are mastering in-demand skills</h1>
          <a href="" class="languagesLink">Learn more about Coursera for Business</a>


        </div>
      </div>



      <div class="col-12 col-lg-4 mt-5">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/images/74c8747e8210831049cf88dd4eefe26c.png?auto=format%2Ccompress&dpr=1&w=320&h=70&q=40"
          class="img-fluid " alt="...">
      </div>
    </div>
  </div>

</div>


<div class="ms-4 ">
  <div class="row">

    <div class="col-12 col-lg-6">
      <h2  class="mb-4">Advance your subject-matter expertise</h2>
      <ul>
        <li  class="mb-2">Learn in-demand skills from university and industry experts</li>
        <li  class="mb-2">Master a subject or tool with hands-on projects</li>
        <li  class="mb-2">Develop a deep understanding of key concepts</li>
        <li  class="mb-2">Earn a career certificate from IBM</li>
      </ul>
    </div>

    <div class="col-12 col-lg-6">
      <img class="borderIMG img-fluid"
        src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/images/f9981360ed304b477666954b42d5586f.png?auto=format%2Ccompress&dpr=1&w=562&h=221&q=40&fit=crop"
        alt="">
    </div>
  </div>
</div>



<!-- dialoge -->

<!-- <h2 mat-dialog-title>Dialog Title</h2>
<div mat-dialog-content>
  <p>This is a simple Angular Material Dialog!</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div> -->

<div class="row ms-4 ">
  <h2 class="mb-4 mt-5">Why people choose Coursera for their career</h2>

<!-- 1 -->
  <div class="CardWidth">
    <div class="people">
      <div class="row ms-2 mt-2">
        <div class="col-4">
          <img class="rounded-circle img-fluid"
            src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/growth_testimonials/passionate_learner/Felipe_Moitta.png?auto=format%2Ccompress&dpr=1&w=64&h=64&fit=crop"
            alt="">
        </div>
        <div class="col-8">
          <p>Felipe M.</p>
          <p class="linkedIn">Learner since 2018</p>
        </div>


      </div>
      <p class="ms-3 linkedIn">"To be able to take courses at my own pace and rhythm has been an amazing experience. I can learn
        whenever it fits my schedule and mood."</p>
    </div>
  </div>
<!-- 2 -->
<div class="CardWidth">
  <div class="people">
    <div class="row ms-2 mt-2">
      <div class="col-4">
        <img class="rounded-circle img-fluid"
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/growth_testimonials/passionate_learner/Jennifer_John.png?auto=format%2Ccompress&dpr=1&w=64&h=64&fit=crop"
          alt="">
      </div>
      <div class="col-8">
        <p>Jennifer J.</p>
        <p class="linkedIn">Learner since 2020</p>
      </div>


    </div>
    <p class="ms-3 linkedIn">"I directly applied the concepts and skills I learned from my courses to an exciting new project at work."</p>
  </div>
</div>
 <!-- 3 -->
 <div class="CardWidth">
  <div class="people">
    <div class="row ms-2 mt-2">
      <div class="col-4">
        <img class="rounded-circle img-fluid"
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/growth_testimonials/passionate_learner/Larry_Tao_Wang_1.png?auto=format%2Ccompress&dpr=1&w=64&h=64&fit=crop"
          alt="">
      </div>
      <div class="col-8">
        <p>Larry W.</p>
        <p class="linkedIn">Learner since 2021</p>
      </div>


    </div>
    <p class="ms-3 linkedIn">"When I need courses on topics that my university doesn't offer, Coursera is one of the best places to go."</p>
  </div>
</div>
  <!-- 4 -->
  <div class="CardWidth">
    <div class="people">
      <div class="row ms-2 mt-2">
        <div class="col-4">
          <img class="rounded-circle img-fluid"
            src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/growth_testimonials/passionate_learner/Chaitanya_Anand.png?auto=format%2Ccompress&dpr=1&w=64&h=64&fit=crop"
            alt="">
        </div>
        <div class="col-8">
          <p>Chaitanya A.</p>

        </div>


      </div>
      <p class="ms-3 linkedIn">"Learning isn't just about being better at your job: it's so much more than that. Coursera allows me to learn without limits."</p>
    </div>
  </div>


</div>




<!-- install icon -->
